body {  
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

h1{

  text-align: center;
}
h2{

  text-align: left;
}


#buttons {
  position: absolute;
  top: 50%;
  left: 55%;
}

div.button {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  opacity: 0.75;
  
}


div.trans {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  opacity: 0.75;
  
}




div.button[name="matrix1sounds"][value="0"] {
  top: -150px;
  left: -200px;
  background-color: green;
}
div.button[name="matrix1sounds"][value="1"] {
  top: -150px;
  left: -99px;
  background-color: green;
}

div.button[name="matrix1sounds"][value="2"] {
  top: -150px;
  left: 2px;
  background-color: rgb(3, 126, 3);
}
div.button[name="matrix1sounds"][value="3"] {
  top: -49px;
  left: -200px;
  background-color: rgb(9, 78, 0);
}

div.button[name="matrix1sounds"][value="4"] {
  top: -49px;
  left: -99px;
  background-color: rgb(9, 78, 0);
}
div.button[name="matrix1sounds"][value="5"]{
  top: -49px;
  left: 2px;
  background-color: rgb(9, 78, 0);
}

div.button[name="matrix1sounds"][value="6"] {
  top: 51px;
  left: -200px;
  background-color: rgb(4, 32, 0);
}
div.button[name="matrix1sounds"][value="7"] {
  top: 51px;
  left: -99px;
  background-color: rgb(4, 32, 0);
}
div.button[name="matrix1sounds"][value="8"] {
  top: 51px;
  left: 2px;
  background-color: rgb(4, 32, 0);
}
/***************************************************************/
div.button[name="matrix2sounds"][value="0"] {
  top: -150px;
  left: -800px;
  background-color: rgb(150, 0, 0);
}
div.button[name="matrix2sounds"][value="1"] {
  top: -150px;
  left: -699px;
  background-color: rgb(151, 0, 0);
}

div.button[name="matrix2sounds"][value="2"]{
  top: -150px;
  left: -598px;
  background-color: rgb(151, 0, 0);
}
div.button[name="matrix2sounds"][value="3"] {
  top: -49px;
  left: -800px;
  background-color: rgb(87, 0, 0);
}

div.button[name="matrix2sounds"][value="4"] {
  top: -49px;
  left: -699px;
  background-color: rgb(88, 0, 0);
}
div.button[name="matrix2sounds"][value="5"]{
  top: -49px;
  left: -598px;
  background-color: rgb(82, 0, 0);
}

div.button[name="matrix2sounds"][value="6"] {
  top: 51px;
  left: -800px;
  background-color: rgb(68, 0, 0);
}
div.button[name="matrix2sounds"][value="7"] {
  top: 51px;
  left: -699px;
  background-color: rgb(68, 0, 0);
}
div.button[name="matrix2sounds"][value="8"] {
  top: 51px;
  left: -598px;
  background-color: rgb(70, 0, 0);
}
/***************************************************************/
div.button[name="matrix3sounds"][value="0"] {
  top: -150px;
  left: 300px;
  background-color: rgb(0, 0, 150);
}
div.button[name="matrix3sounds"][value="1"] {
  top: -150px;
  left: 401px;
  background-color: rgb(0, 0, 150);
}

div.button[name="matrix3sounds"][value="2"] {
  top: -150px;
  left: 502px;
   background-color: rgb(0, 0, 150);
}
div.button[name="matrix3sounds"][value="3"] {
  top: -49px;
  left: 300px;
 background-color: rgb(0, 0, 100);
}

div.button[name="matrix3sounds"][value="4"] {
  top: -49px;
  left: 401px;
   background-color: rgb(0, 0, 100);
}
div.button[name="matrix3sounds"][value="5"] {
  top: -49px;
  left: 502px;
  background-color: rgb(0, 0, 100);
}

div.button[name="matrix3sounds"][value="6"] {
  top: 49px;
  left: 300px;
   background-color: rgb(0, 0, 50);
}
div.button[name="matrix3sounds"][value="7"] {
  top: 49px;
  left: 401px;
   background-color: rgb(0, 0, 50);
}
div.button[name="matrix3sounds"][value="8"] {
  top: 49px;
  left: 502px;
   background-color: rgb(0, 0, 50);
}

/********************************************************/

div.button[name="übergangdrums"][value="0"] {
  top: 151px;
  left: -300px;
  background-color: rgba(87, 0, 0, 0.699);
}

div.button[name="übergangorc"][value="1"] {
  top: 252px;
  left: -400px;
   background-color: rgba(0, 128, 0, 0.712);
}
div.button[name="übergangvocal"][value="2"] {
  top: 353px;
  left: -500px;
   background-color: rgb(0, 9, 138);
}

/*******************************************************************/

div.button[name="nextmatrix"][value="0"] {
   top: 454px;
   left: -800px;
  background-color: rgb(173, 69, 0);
}
div.button[name="nextmatrix"][value="1"] {
   top: 454px;
   left: -699px;
  background-color: rgb(136, 54, 0);
}

div.button[name="nextmatrix"][value="2"] {
  top: 454px;
  left: -598px;
   background-color: rgb(73, 30, 1);
}
div.button[name="nextmatrix"][value="3"] {
  top: 555px;
  left: -800px;
  background-color: rgb(173, 69, 0);
}
div.button[name="nextmatrix"][value="4"] {
  top: 555px;
  left: -699px;
  background-color: rgb(136, 54, 0);
}
div.button[name="nextmatrix"][value="5"] {
  top: 555px;
  left: -598px;
  background-color: rgb(73, 30, 1);
}

div.button[name="nextmatrix"][value="6"] {
  top: 656px;
  left: -800px;
  background-color: rgb(173, 69, 0);
}
div.button[name="nextmatrix"][value="7"] {
  top: 656px;
  left: -699px;
  background-color: rgb(136, 54, 0);
}
div.button[name="nextmatrix"][value="8"] {
  top: 656px;
  left: -598px;
  background-color: rgb(73, 30, 1);
}

/*******************************************************************/

div.button[name="bass"][value="0"] {
  top: 554px;
 left: -400px;
 background-color: rgb(0, 204, 255);
}
div.button[name="bass"][value="1"] {
  top: 554px;
 left: -299px;
 background-color: rgb(0, 132, 165);
}


/****************************************************/
div.button[name="drums"][value="0"] {
  top: 554px;
 left: -199px;
 background-color: rgba(145, 0, 0, 0.87);
}
div.button[name="drums"][value="1"] {
  top: 554px;
 left: -99px;
 background-color: rgba(85, 0, 0, 0.87);
}
div.button[name="drums"][value="2"] {
  top: 554px;
 left: -1px;
 background-color: rgba(39, 0, 0, 0.87);
}

/****************************************************/
div.button[name="guitar"][value="0"] {
  top: 454px;
  left: 401px;
 background-color: rgba(7, 0, 73, 0.87);
}
div.button[name="guitar"][value="1"] {
  top: 554px;
  left: 300px;
 background-color: rgba(0, 63, 92, 0.87);
}
div.button[name="guitar"][value="2"] {
  top: 554px;
  left: 500px;
 background-color: rgba(0, 63, 92, 0.87);
}
div.button[name="guitar"][value="3"] {
  top: 555px;
  left: 401px;
 background-color: rgba(4, 0, 37, 0.87);
}
/****************************************************/
div.button.active {
  opacity: 1;
}


button.fancy {
  display: none;
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  animation-delay: 20000ms;
  color: white;
}

@keyframes example {
  from {top: 0px;}
  to {top: 200px; background-color: blue;}
}






